.first {
    font-family: 'Montserrat', sans-serif;
  }
body {
      background-color: #f5f5dc;
  }
.header {
    background-color: lightblue;
    display: flex;
    justify-content: center;
  }
h1 {
    font-size: 40px;
    grid-template-rows: 1fr 1fr;
  }
.firstp-ul {
    list-style-type: none;
}
.secondpul {
    list-style-type: none;
}

.thirdpul {
    list-style-type: none;
}
.heading2 {
    color: black;
}

.image1{
    display: flex;
    justify-content: center;
}
.div1{
    display: flex;
    justify-content: center;
  }

.div2{
    display: flex;
    justify-content: center;
    background-color: lightblue;
  }

.div3{
    display: flex;
    justify-content: center;
    background-color: lightblue;
  }


footer{
   text-align: center;
   background-color: lightblue;
  }

.section{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

#topnav {
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

#topnavigation {
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

.nav-courses{
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
}
footer{
 text-align: center;
 background-color: lightblue;
}
.secondp-grid{
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.grid-ulcp{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding-left: 2px;
  row-gap: 5px;
}
header{
  margin-bottom: 10px;
}
.coursesp {
  margin-top: 0%;
}
.list-border{
  border-bottom: solid black;

}
.list-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
@media (min-width: 600px ) {
    .list-border {
      border-bottom: solid 2px black;
    }
    .list-grid {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr 1fr;
    }
    .nav-courses{
      flex-direction: row;
      justify-content: center;
      justify-content: space-evenly;
    }
}
