.first {
    font-family: 'Montserrat', sans-serif;
  }
body {
      background-color: #f5f5dc;
  }
.header {
    background-color: lightblue;
    display: flex;
    justify-content: center;
  }
h1 {
    font-size: 40px;
    grid-template-rows: 1fr 1fr;
  }
.firstp-ul {
    list-style-type: none;
}
.heading2 {
    color: black;
}

.image1{
    display: flex;
    justify-content: center;
}
.div1{
    text-align: center;
  }
footer{
   text-align: center;
   background-color: lightblue;
  }
  .section{
    display: grid;
    grid-template-columns: 2fr 2fr;
}